<ion-header>

    <ion-navbar>
      <ion-title>{{ pageTitle }}</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
      <div *ngIf="selectedSeasonDetails" >
      
            <h2>
              {{ pageTitle }}
            </h2>

              <ion-list>
                  <button *ngFor="let item of selectedSeasonDetails.Episodes" ion-item>Episode {{ item.Episode }} - {{ item.Title }} </button>
              </ion-list>
      
        </div>
  
  </ion-content>
  