<ion-header>

  <ion-navbar>
    <ion-title *ngIf="selectedEpisodeDetails">{{ selectedEpisodeDetails.Title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <div *ngIf="selectedEpisodeDetails" >
      <img src="{{ selectedEpisodeDetails.Poster }}"/>
      <h1>
        <b>Titre :</b> {{ selectedEpisodeDetails.Title }}
      </h1>
      <ion-row no-padding>
          <ion-col >
              <ionic3-star-rating 
                    activeIcon = "ios-star"
                    defaultIcon = "ios-star-outline"
                    activeColor = "gold" 
                    defaultColor = "gold"
                    readonly="true"
                    [rating]="noteFive">
              </ionic3-star-rating>
            ( {{ selectedEpisodeDetails.imdbVotes }} votes)
          </ion-col>
        </ion-row>
      <p>{{ selectedEpisodeDetails.Plot }}</p>
      <ul>
        <li><b>Année: </b> {{ selectedEpisodeDetails.Year }}</li>
        <li><b>Genre: </b> {{ selectedEpisodeDetails.Genre }}</li>
        <li><b>Durée: </b> {{ selectedEpisodeDetails.Runtime }}</li>
        <li><b>Producteur: </b> {{ selectedEpisodeDetails.Production }}</li>
        <li><b>Acteurs: </b> {{ selectedEpisodeDetails.Actors }}</li>
        <li><b>Nomination(s): </b> {{ selectedEpisodeDetails.Awards }}</li>
        <li><b>Site Web: </b> {{ selectedEpisodeDetails.Website }}</li>
      </ul>

  </div>

</ion-content>
